@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* * SOLID COLORS * */
    --color-black: #ddd;
    --color-white: #fff;
  }
}

.light {
  --body-main: #fff;
}

.dark {
  --body-main: #111827;
}

body {
  @apply bg-body-main;
}
